.face {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.img {
  margin-bottom: 10px;
}

.bounding-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  border: 2px solid blue;
}
